.center{
    float: left;
    margin-left: 300px;
    margin-right: 70px ;
}
#left{
    margin-left: 10px;
}
.img{
    float: left;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}

.pesq{
    float: left;
    margin-left: 100px;
}